.centered {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered form {
  display: flex;
  flex-direction: column;

  border: solid 1px white;
  border-radius: 5px;
  padding: 20px 100px;
  box-shadow: 1px 3px 6px black;
}

.todo__task {
  border: 2px solid orange;
  border-radius: 5px;
  width: 500px;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo__task > p {
  overflow-wrap: break-word;
}

.todo__task > div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media (max-width: 500px) {
  .todo__task {
    flex-direction: column;
  }
}

.todo__task:hover {
  border: 2px solid greenyellow;
}

@media (max-width: 580px) {
  .todo__task {
    width: 90%;
  }
}

.todo__task .btn {
  margin-top: 20px;
  font-size: 1em;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border: solid 1px;
  border-radius: 15px;
}

.todo__task .removeBtn {
  background-color: red;
}
.todo__task .removeBtn:hover {
  background-color: #ff3c3c;
}

.todo__task .completeBtn {
  background-color: dodgerblue;
}
.todo__task .completeBtn:hover {
  background-color: #52aaff;
}

.completedTasksHeader {
  border-bottom:  1px solid grey;
  border-top:  1px solid grey;
}

.completedTask {
  border: solid 2px deepskyblue;
}
